@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
      --background: 204 61% 99%;
      --foreground: 204 64% 4%;
      --card: 204 61% 99%;
      --card-foreground: 204 64% 4%;
      --popover: 204 61% 99%;
      --popover-foreground: 204 64% 4%;
      --primary: 204 28% 25%;
      --primary-foreground: 204 28% 85%;
      --secondary: 174 28% 25%;
      --secondary-foreground: 174 28% 85%;
      --accent: 234 28% 25%;
      --accent-foreground: 234 28% 85%;
      --destructive: 3 83% 38%;
      --destructive-foreground: 3 83% 98%;
      --muted: 174 24% 91%;
      --muted-foreground: 174 4% 29%;
      --border: 204 4% 92%;
      --input: 204 4% 92%;
      --ring: 204 28% 25%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 204 3.4% 8.18%;
      --foreground: 204 25% 99%;
      --card: 204 36% 0%;
      --card-foreground: 204 25% 99%;
      --popover: 204 36% 0%;
      --popover-foreground: 204 25% 99%;
      --primary: 204 48.53% 19.68%;
      --primary-foreground: 204 28% 85%;
      --secondary: 129.06 24.25% 12.38%;
      --secondary-foreground: 129.06 93.38% 65.13%;
      --accent: 203.77 45.22% 42.9%;
      --accent-foreground: 234 28% 85%;
      --destructive: 3 45.69% 46.46%;
      --destructive-foreground: 0 0% 100%;
      --muted: 212.83 42.5% 8.1%;
      --muted-foreground: 174 4% 71%;
      --border: 204 4% 12%;
      --input: 204 4% 12%;
      --ring: 204 28% 25%;
    }

  h1.based {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #0ee951, #00dabf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 500;
  }

  h1.normal {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: 500;
    color: hsl(var(--foreground));
  }

  h1.big {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    line-height: 40px;
    font-weight: 500;
    color: hsl(var(--foreground));
  }

  .font {
    font-family: "Poppins", sans-serif;
  }




  /*@layer base {*/
  /*    :root {*/
  /*      --card: 137 63% 97%;*/
  /*      --ring: 137 45% 65%;*/
  /*      --input: 220 13% 91%;*/
  /*      --muted: 137 23% 93%;*/
  /*      --accent: 137 18% 76%;*/
  /*      --border: 220 13% 91%;*/
  /*      --popover: 137 63% 97%;*/
  /*      --primary: 137 45% 65%;*/
  /*      --secondary: 137 12% 86%;*/
  /*      --background: 137 63% 98%;*/
  /*      --foreground: 137 72% 4%;*/
  /*      --destructive: 9 97% 36%;*/
  /*      --card-foreground: 137 72% 3%;*/
  /*      --muted-foreground: 137 1% 29%;*/
  /*      --accent-foreground: 137 18% 16%;*/
  /*      --popover-foreground: 137 72% 3%;*/
  /*      --primary-foreground: 137 45% 5%;*/
  /*      --secondary-foreground: 137 12% 26%;*/
  /*      --destructive-foreground: 0 0% 100%;*/
  /*      --radius: 0.5rem;*/
  /*    }*/
  /*    .dark {*/
  /*      --card: 137 40% 3%;*/
  /*      --ring: 137 45% 65%;*/
  /*      --input: 122.26 17.22% 9.84%;*/
  /*      --muted: 137 23% 7%;*/
  /*      --accent: 137 26% 21%;*/
  /*      --border: 101.89 19.37% 45.11%;*/
  /*      --popover: 137 40% 3%;*/
  /*      --primary: 137 45% 65%;*/
  /*      --secondary: 137 18% 14%;*/
  /*      --background: 137 40% 2%;*/
  /*      --foreground: 137 12% 99%;*/
  /*      --destructive: 9 33.72% 44.87%;*/
  /*      --card-foreground: 0 0% 100%;*/
  /*      --muted-foreground: 137 1% 71%;*/
  /*      --accent-foreground: 137 26% 81%;*/
  /*      --popover-foreground: 0 0% 100%;*/
  /*      --primary-foreground: 137 45% 5%;*/
  /*      --secondary-foreground: 137 18% 74%;*/
  /*      --destructive-foreground: 0 0% 100%;*/
  /*    }*/
  /*  }*/
  .home {
    background-image: url(./assets/base2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

