@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
    :root {
      --background: 68 50% 99%;
      --foreground: 68 62% 2%;
      --card: 68 50% 99%;
      --card-foreground: 68 62% 2%;
      --popover: 68 50% 99%;
      --popover-foreground: 68 62% 2%;
      --primary: 68 19% 65%;
      --primary-foreground: 68 19% 5%;
      --secondary: 248 19% 65%;
      --secondary-foreground: 248 19% 5%;
      --accent: 248 19% 65%;
      --accent-foreground: 248 19% 5%;
      --destructive: 16 82% 31%;
      --destructive-foreground: 16 82% 91%;
      --muted: 248 26% 94%;
      --muted-foreground: 248 3% 32%;
      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 68 19% 65%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 68 44% 2%;
      --foreground: 68 25% 97%;
      --card: 68 44% 2%;
      --card-foreground: 68 25% 97%;
      --popover: 68 44% 2%;
      --popover-foreground: 68 25% 97%;
      --primary: 68 19% 65%;
      --primary-foreground: 68 19% 5%;
      --secondary: 248 19% 65%;
      --secondary-foreground: 248 19% 5%;
      --accent: 248 19% 65%;
      --accent-foreground: 248 19% 5%;
      --destructive: 16 82% 55%;
      --destructive-foreground: 0 0% 0%;
      --muted: 248 26% 6%;
      --muted-foreground: 248 3% 68%;
      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 68 19% 65%;
    }
  }
